
body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
   
}
html {
    scroll-behavior: smooth;
}

#dd1 {
    display: none;
}

.nav1 {
    
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0px;
    justify-content: space-between;
    background-color:darkgray;
    align-items: center;
    border: 2px solid black;
    width: 100%; 
    
   
}

.Nav_bar ul li{
    display: inline-block;
  
}


.menu1 {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 30px;
    font-weight: 800;
    position: relative;
    top: 10px;
}




#welcome {
   width:60px;
   padding-left: 20px;

}

#home{
    text-decoration: none;
}





    
.hire {
    font-weight: 900;
    font-size: 32px;color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 30px;
    font-weight: 800;
    position: relative;
    top: 10px;
   
    
}
.hire:hover {

   
    transition-duration: 0.4s;
    color: red;
    
    
    
}



.b1 {
    margin: 0px 8px;
}

.b1:hover {

    
    color:darkblue;
    transition-duration: 0.4s;
    scale: 1.1;
    
}


.b14 {
    margin-right: 20px;
}





/* Under Nav Bar */


header {
    background-color: black;
}

.name1 {
    width: 100%;
    border: 2px solid black;
    height: 100%;
    background-color: black;
    position: relative;
    
}

.span1 {
    font-family: 'Roboto Slab', serif;
    font-size: 130px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    color: white;
    position: relative;
    left: 10%;
    top: 14%;
    
}
.span2 {
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 90px;

}

.span3 {
    font-size: 56px;
    position: absolute;
    top:45%;
    left:40%;   
    color:rgb(255, 217, 0);
}

.span4 {
    font-size: 32px;
    position: absolute;
    top:60%;
    left: 53%; 
    color:#808080

}

#Asem {
    width: 30%;
    border: 0;
    border-radius: 0% 0% 0% 10%;
    position: absolute;
    right: 0%;
    bottom: 0%;

}
.fa-code{
    
    position: absolute;
    color: goldenrod;
    font-size: 85px;
    bottom: 5%;
    left: 30px;

}


.ee {
    color: gold;
}


.border1 {
    border-width: 8px 0px 0px 0px;
    color: goldenrod;
    border-style: solid;
    
}


                      /* objective */




#section1 {
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;

}

.allsection {
   color: white;
   position: relative;
   left: 45%;
   display: inline-block;
   margin: 20px;
   font-size: 38px;
   font-family: 'Playfair Display', serif;
   
}

.objclass {
    
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 22px;
    border: 1px solid black;
    text-align: center;
    
   
    
}

.wordsobjective{
    color: goldenrod;
    font-weight: 800;
    font-size: 24px;
}

.objective0 {
    background-color: black;
    
}




.education {
    background-color: black;
    height: 50%;
    position: relative;
    height: auto;
}
.ul1{
    display: inline-flex;
    position: relative;
    animation: anim 12s ease-in-out infinite alternate-reverse;
}

.li1 {

     width: 700px;
     height: 300px;
     background-image: url(./images/Coding-Academy-Logo.jpg);
     background-size: 700px 300px;
    
}
.li2 {
    width: 700px;
    height: 300px;
    background-image: url(./images/univ.png);
    background-size: 700px 300px;
}
.li3 {
    width: 700px;
    height: 300px;
    background-image: url(./images/rosary.jpg);
    background-size: 700px 300px;
    
}

.edu1 {
    margin: auto;
    width: 700px;
    overflow: hidden;
}

@keyframes anim {
    1% {right: 0px;}
    50% {right: 700px;}
    100% {right: 1400px;}
}



.li4{
    color: white;
    font-size: 20px;
}

.p3 {
    color: wheat;
}
  




                                         /* skills */


.skills{
   position: relative;
   background-color: black;
   height: 60%;
}                                         

                                       

.skillscon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.skills1 {
    color: white;
    
}



.myskills {
    width: 70px;

}

.myskills1 {
    color: white;
    position: absolute;
    left: 10%;
    top: 25%;
     
}

.skillname{
    font-family: 'Cinzel', serif;
    font-size: 26px;

}




.future{
 
    color: white;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
    
}

.already {
    top: 0%;
    color: white;
    font-size: 26px;
    font-family: 'Playfair Display', serif;
}

.padding1 {
    padding-left: 120px;
}

.padding2 {
    padding-left: 50px;
}




.languages {
    width: 70px;
  
}


.futureicon{
    
}


.listskill{
    color: white;
    position: absolute;
    left: 40%;
    top: 20%;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Cinzel', serif;

}

                                       /* Projects */

   .theprojects{
    height: auto;
    background-color: black;
   }

   .maincont{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    width: 100%;
    
    
   }

.nn   {
    
    color: white;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 70%;
}

.pro1img {
    width: 350px;
    height:200px;
    border: 3px solid goldenrod;
}

.nn:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.4s;

}


                                    /* Contact me */

#footer {
    background-color: black;
    height: 50%;
    width: 100%;
    position: relative;
}

#contact0{
    position: absolute;
    right: 48%;
}


.wisdome {
    position: absolute;
    top: 50%;
    left: 32%;
    color: goldenrod;
    font-size: 30px;
    width: 500px;
    font-family: 'Lobster', cursive;
}


.icon1 {
    position: absolute;
    top: 70%;
    right: 10%;
    width: 60px;
}
.icon2 {
    position: absolute;
    top: 70%;
    right: 15%;
    width: 60px;
}
   



.icon4 {
    position: absolute;
    top: 70%;
    right: 20%;
    width: 60px;
}

.icon5 {
    position: absolute;
    top: 70%;
    right: 25%;
    width: 60px;
}

.myname {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 3%;
    color: goldenrod;
    font-family: 'Lobster', cursive;

}

.mynumber {
    font-size: 25px;
    color: goldenrod;
    font-weight: 800;
    position: absolute;
    right: 7%;
    top: 50%;
}

.or {

    font-size: 25px;
    color: white;
    font-weight: 800;
    position: absolute;
    right: 19%;
    top: 59%;

}


.forhover:hover{
    transition: 0.5s;
    scale: 1.2;
    color: gold;

}






 






