body {
    margin: 0px;
    padding: 0px;
}

.img1 {
    width: 500px;
}
.text {
    font-size: 20px;
    border: 0px solid black;
    width: 400px;
    
    }

.forflex {
    display: flex;
    flex-direction: row;
}


.A1 {
    color: white;
    font-size: 20px;
}