body, html {
    height: 100vh;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.nav1 {
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    background-color:darkgoldenrod;
    align-items: center;
    border: 2px solid black;
    width: 100%; 
   
}

.fix1 {
    
}



#welcome {
    font-weight:800;
    padding-left: 10px;
    font-size: 26px;
    color: wheat;
    

}

.butns1 {
    cursor: pointer;
    border: 0px; 
    font-size: 16px;
    border-radius: 8px;
    margin-right: 10px;
    padding: 8px;
    color: rgb(10, 10, 10);
    background-color: rgb(245, 222, 178);
    font-weight: 800;
}







.hire {
    cursor: pointer;
    font-size: 20px;
    padding: 10px 22px;
    color: rgb(242, 4, 4);
    font-weight: 600;
    background-color: rgb(245, 222, 178);
}

.hire:hover {

    font-size: 24px;
    transition-duration: 0.4s;
    background-color: white;
    
    
}



.b1 {
    margin: 0px 8px;
}

.b1:hover {

    background-color: white;
    color:darkblue;
    transition-duration: 0.4s;
    font-size: 18px;
    
}




.b14 {
    margin-right: 20px;
}

/* Under Nav Bar */

.name1 {
    width: 100%;
    border: 2px solid black;
    height: 800px;
    background-color: black;
    position: relative;
    
    
    
}

.span1 {
    font-family: 'Roboto Slab', serif;
    font-size: 200px;
    font-weight: 800;
    margin: 0px 0px 0px 0px;
    color: darkgoldenrod;
    position: relative;
    left: 10%;
    
}
.span2 {
    position: absolute;
    top: 27%;
    left: 30%;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 90px;

}

.span3 {
    font-size: 56px;
    position: absolute;
    top:50%;
    left:40%;   
    color:#808080
}

.span4 {
    font-size: 32px;
    position: absolute;
    top:60%;
    left: 53%; 
    color:#808080

}

#Asem {
    width: 34%;
    border: 0;
    border-radius: 0% 0% 0% 10%;
    position: absolute;
    right: 0%;
    bottom: 0%;


}
.fa-code{
    
    position: absolute;
    color: goldenrod;
    font-size: 85px;
    bottom: 20px;
    left: 30px;


}


.ee {
    color: goldenrod;
}

.border1 {
    border-width: 8px 0px 0px 0px;
    color: goldenrod;
    border-style: solid;
    
    
}

#section1 {
    background-color: black;
    width: 100%;
    height: 100%;
    position: relative;

}

#obj1 {
   color: white;
   position: relative;
   left: 45%;
   display: inline-block;
   margin-top: 20px;
   font-size: 70px;
   
}

.list1 {
    font-size: 33px;
    color: white;

}